
.profileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
  
}


.profileCard {
  width: 30%;
  margin-bottom: 10px;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 12px; 
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1); 
  text-align: center; 
}

.profileCard img {
  width: 120px;
  height: 120px;
  border-radius: 50%; 
  object-fit: cover; 
  margin-bottom: 20px;
}


.profileCard h2 {
  font-size: 1.8rem;
  color:  #fb923c;
  margin: 10px 0;
  font-weight: bold;
}

.profileCard h3 {
  font-size: 1.1rem;
  color: #555;
  font-weight: bold;
}

.profileCard p {
  font-size: 1rem;
  color: #777;
}


.userName, .userEmail {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}


/* User Movies */
.userCatalogPage {
  margin: 0 auto;
  max-width: 90%;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);

}

.userCatalogPage h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  color: #374151;
  margin-bottom: 20px;
  padding-left: 20px;
  border-left: 5px solid #fb923c; 
}


.movies {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 30px;
}

.noMovies {
  text-align: center;
  font-size: 1.2rem;
  color: #888;
}

.noMovies h3 {
  margin-top: 20px;
  font-weight: normal;
}




/* Mobile responsiveness */
@media screen and (max-width: 768px) {
  .profileCard {
    width: 90%; 
    padding: 20px;
  }

  .profileCard img {
    width: 100px;
    height: 100px;
  }

}


