/* Profile Container */
.profileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

/* Profile Card */
.profileCard {
  background-color: #f0f4f8; 
  padding: 30px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profileCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/* Profile Image */
.profileCard img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  border: 3px solid #fb923c; 
}

/* Profile Text */
.profileCard p {
  font-size: 14px;
  color: #555;
  margin: 8px 0;
}

.profileCard h2 {
  font-size: 1.5rem;
  color: #333;
  font-weight: bold;
  margin: 10px 0;
}

.profileCard h3 {
  font-size: 1.2rem;
  color: #fb923c; 
  margin: 8px 0;
}

/* Edit Profile Button */
.editProfileBtn {
  background-color: #fb923c; 
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.editProfileBtn:hover {
  background-color: #374151; 
}

