.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 30px 20px;
}

.headings {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
 
}

.welcomeMsg {
  flex: 0 1 60%;
}

.welcomeMsg h1 {
  font-size: 50px;
  font-family: Helvetica;
  font-weight: bold;
  color:  #fb923c;
}

.welcomeMsg h3 {
  margin-bottom: 40px;
  font-family: Helvetica;
  font-size: 20px;
  color: #848383;
}


.loginBtn {
  padding: 10px 20px;
  background-color: #374151;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.learnMoreBtn {
  font-size: 18px;
  font-weight: 500;
  padding-left: 30px;
  color: #fb923c;
}


.homeImg {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 500px;
  overflow: hidden;
}

.homeImg img {
  display: block;
  max-width: 100%;
  max-height: 100%; 
  object-fit: contain;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgb(71, 70, 70);
}


.latest h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 20px;
  padding-left: 10px;
  color: #374151;
  border-left: 5px solid orange;
}


.homePage {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
}


.movie {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
}

.movie:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.movie .img {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.movie img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.movie h3,
h6 {
  text-align: center;
  font-size: 1.2rem;
  color: #333;
  background-color: #fff;
  padding: 2px;
}


.movieBtn {
  padding: 15px;
  text-align: center;
}

.detailsBtn {
  padding: 10px 20px;
  background-color: #fb923c;
  color: white;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.detailsBtn:hover {
  background-color: #374151;
  transform: translateY(-2px);
}


/* No Movies Section */
.noMovies {
  margin-top: 30px;
  font-size: 1.5rem;
  color: #555;
}

.noMovies h3 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #fb923c;
}