div.searchMovies {
    margin: 50px auto;
    max-width: 40%;
    height: 100vh;
}

div.searchMovies h2 {
font-size: 40px;
font-family: Helvetica;
font-weight: bold;
color: #fb923c;
}

div.searchMovies ul li {
    font-size: 30px;
    color: #666;
}